@font-face {
  font-family: "YourFontName";
  src: url("Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "YourFontName1";
    src: url("Montserrat/Montserrat-Regular.ttf");
  }

body {
  background-color: rgb(205, 215, 253);
  font-style: YourFontName;
}

#backgroundImg {
  height: 500px;
  padding-left: 300.28px;
  padding-top: 95px;
  background-attachment: fixed;
}

#backgroundTxt {
  height: 150px;
  padding-bottom: 90px;
  padding-left: 225.5px;
  background-attachment: fixed;
}
