
body,html {
  background-color: rgb(205, 215, 253);
  margin: 0px;
  padding: 0px;
}

#container {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#meImg {
  height: 220px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 110px;
  left: 310px;
}

#text1 {
  color: #092764;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: absolute;
  left: 335px;
  top: 330px;
}

#backgroundTxt {
  height: 150px;
  padding-bottom: 90px;
  padding-left: 225.5px;
  position: relative;
  left: 50px;
  background-attachment: fixed;
}

#backgroundImg {
  height: 550px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 80px;
}